{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Design" {:file "doc/design.md"}]
  ["Recipes" {:file "doc/recipes.md"}]
  ["Native image" {:file "doc/native-image.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]]}
